/* =========
  	global
   ========= */
html {
	font-size: 62.6%;
	color: #34495e;
}

::selection {
	color: #fff;
	background-color: #b3d4fc;
}
a {
	text-decoration: none;
	color: #222;	
}

body, div, h1,li, p, ul,input{
	margin: 0;	
	padding: 0;
	line-height: 1.8rem;
	font-family:"Microsoft YaHei";
}

img {
	border: none;
}

ul, li {
	list-style: none outside none;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}


[v-cloak] {
  display: none;
}

.app {
	width: 80%;
	padding: 0 1rem;
	margin: 0 auto;
	box-shadow: 0 0 3rem
    rgba(0, 0, 0, 0.133);
}
/* ========
	tool
   ======== */

.clear-fix:before,
.clear-fix:after {
	content: " ";
	display: table;
}

.clear-fix:after {
	clear: both;
}

/* ========
	header
   ======== */
header {
	display: flex; 
	padding: 2rem 1rem 3rem 1rem;
	margin-bottom: 1rem;
	color: #2c3e50;
}

header h1 {	
	font-family: "Savoye LET", "Adobe Caslon Pro";
	margin-top: 1rem;
	padding-top: 1rem;
	font-size: 6rem;
	color: #42b983;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.233);
}


.searchInput {
	
	display: inline-block;
	width: 30rem;
	height: 3rem;
	margin: 1rem 5rem 0 3rem;
	border: 1px solid #999999;
	border-radius: 3rem;
}

.searchInput input {
	outline: none;
	height: 3rem;
	width: 18rem;
	border-radius: 3rem;
	border: transparent;
	padding-left: 2rem;
	font-size: 2.5rem;
	color: inherit;
	background-color: inherit;
}

.searchInput .delword, .searchword {
	float: right;
	outline: none;
	height: 3rem;
	border: none;	
	border-radius: 1rem;
	background-color: inherit;
}

.searchInput .delword {
	margin-right: 2.5rem;
}

.searchInput .delword i {
	color:#FFD39B;
	background-color: inherit ;
}

.searchInput .searchword {
	border-radius: 3rem;
	width: 4rem;
	background-color: #42b983;
}

.searchInput .searchword i {
	color: white;
}

/* ========
	main
   ======== */
main {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5rem;
	border-radius: 3rem;
}

.wordcontents {
	width: 70%;
	padding: 1rem;
}

.wordcontents h1 {
	line-height: 3rem;
	background: linear-gradient(to right, #42b983, #fff);;
	color: #fff;
	text-indent: 2rem;
}

.wordcontents h1 i {
	font-size: 2rem;
}

.wordcontents .wordcontent {
	margin-top: 0.5rem;
	padding-left: 1rem; 
}

.wordcontents .pron {
	line-height: 3rem;
	font-size: 1.6rem;
	color: #333;
}

.wordcontents .pron i {
	font-style: normal;

}

.wordcontents .pron .country {
	color: #ff9600;
}

.wordcontents .pron .us {
	margin-left: 1rem;
}

.wordcontents .pron button {
	outline: none;
	padding: 0;
	border: none;
	background:none;
}

.wordcontents .pron button i {
	font-size: 2rem;
	color: #636363;
}

.wordcontents .def {
	padding-top: 0.5rem;
	font-size: 1.6rem;
	word-spacing: 1px;
	color: #333;	
}

.wordcontents .def i {
	font-size: 2rem;
	color: #FFD39B;
}

.wordcontents .def span {
	color: inherit;
}

.wordcontents .def span:nth-child(3) {
	color: #b0b0b0;
}

.wordcontents .mean {
	padding-top: 0.5rem;
	font-size: 1.6rem;
}

.wordcontents .mean em {
	font-style: normal;
	font-size: 1.5rem;
	color: #e96900;
	text-shadow: none;
}

.wordcontents .mean p {
	color: #F4A460;
	line-height: 2rem;
}

.wordcontents .example{
	padding-top: 0.8rem;
	font-size: 1.5rem;
}

.wordcontents .example p {
	line-height: 2rem;
}

.wordcontents .example p:first-child {
	font-weight: 300;
	font-size: 1.6rem;
	color: inherit;
}
/* ========
	history 
   ======== */
.history {	
	margin-top: 1rem;
	padding: 0 1rem 1rem;
	width: 15rem;
}

.history h1 {
	line-height: 3rem;
}

.history h1 i {
	font-size: 2rem;
	color: #42b983;
}

.history ul li {
	padding-left: 0.3rem;
}

.history ul li:hover{
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.033);
}

.history ul li button {
	outline: none;
	padding: 0;
	background: inherit;
	border: none;
	color: transparent;
	opacity: 0;
	transition: opacity .3s linear;
}

.history ul li span {
	display: inline-block;
	width: 80%;
	line-height: 2rem;
	margin-left: 1rem;
	font-size: 1.5rem;
}

.history ul li:hover button {
	color: #FFD39B;
	opacity: 1;
}

/* =======
	hide
   ======= */

.hide {
	display: none;
	width: 45%;
	height: 23rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.hide-content {
	margin-top: 15rem;
	padding: 2rem 2rem 2rem 3rem;
	box-shadow: 0 1px 4px 
    rgba(0, 0, 0, 0.3), 0 0 4rem
    rgba(0, 0, 0, 0.1) inset;
    background: linear-gradient(#F5DEB3,#FFF8DC,#F5DEB3);
}

.hide-content h4 {
	line-height: 2rem;
	margin: 1rem 0 0.5rem 0;
	font-size: 1.6rem;
	font-weight: 500;
}

.hide-content p {
	font-size: 1.4rem;
	word-spacing: 2px;
	line-height: 2rem;
}

.hide-content p em{
	font-style: normal;
}

.hide-content p:nth-child(2) {
	text-indent: 1.5rem;
	line-height: 2.2rem;
}

.hide-content p:nth-child(3) {
	text-indent: 1.5rem;
	line-height: 2.2rem;
	margin-bottom: 3rem;

}

.hide-content p:nth-child(4) {
	text-align: right;
	margin-right: 1rem;
}

.hide-content address {
	text-align: right;
	font-size: 1.5rem;
	font-style: normal;
	line-height: 2rem;
	margin-right: 1rem;
}

/* =======
	asdie
   ======= */

.aside {
	position: fixed;
	right: 0;
	top: 0;
}


.aside-nav li {
	height: 4rem;
	width: 4rem;
	text-align: center;
	opacity: 0.5;
	transition: opacity .5s linear;
}

.aside-nav li:first-child {
	opacity: 1;
}

.aside-nav li i {
	font-size: 3.5rem;
	display: inline-block;
	margin-top: 1.1rem;
}

.aside-nav li i[name="sunning"] {
	color: #FFDEAD;
	text-shadow:0rem 0rem 2rem #FFDEAD; 
}


.aside-nav li i[name="night"] {
	color: #a2abd3;
	text-shadow:0rem 0rem 2rem #324d90;
}


/*.aside-nav li i[name="spring"] {
	color: #9BCD9B;
	text-shadow:0rem 0rem 3rem #9BCD9B;
}


.aside-nav li i[name="summer"] {
	color:#BFEFFF;
	text-shadow:0rem 0rem 3rem #FF8247;
}

.aside-nav li i[name="autume"] {
	color: #DEB887;
	text-shadow:0rem 0rem 3rem #FFA54F;
}

.aside-nav li i[name="winter"] {
	color: #C6E2FF;
	text-shadow:0rem 0rem 3rem #Fcfcfc;
}*/

/* =======
   particles-js
   ======= */
#particles-js {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}




