/* ============
	@media app
   ============ */

@media only screen and (max-width: 38.5em) {
	.app {
		width: 96%;
	}
} 

@media only screen and (max-width: 22.375em) {
	.app {
		width: 96%;
	}
}
/* ===============
	@media header
   =============== */

@media only screen and (max-width: 60em) {
	
	header {
		padding-bottom: 1rem;
	}
	header .searchInput {
		margin-left: 2rem;
		
	}
	header .searchInput input {
		width: 14.5rem;
	}
	header .searchInput .delword {
		margin-right: 1rem;	
	}
}

@media only screen and (max-width: 48.75em) {
	
	header .searchInput {
		margin-left: 0;
	}
}

@media only screen and (min-width: 38.5em) and (max-width: 48.5em) {
	
	header h1 {
		font-size: 5rem;
		margin-bottom: 1rem;
	}

	header .searchInput {
		width: 23rem;
	}

	header .searchInput input{
		font-size: 2rem;
	}

}

@media only screen and (max-width: 38.5em) {
	
	header {
		flex-direction: column;
		align-items: center;
		padding: 1rem 0 0 0 ;
	}

	header h1 {
		font-size: 5rem;
	}


	header .searchInput {
		margin-top: 2rem;
	}
	
	header .searchInput .delword {
		padding: 0;
	}

	header .searchInput button i{
		height: 3rem;	
	}
} 

@media only screen and (min-width: 22.376em) and (max-width: 31.255em){
	
	header h1 {
		margin-bottom: 1rem;
		font-size: 5rem;
	}

	header .searchInput {
		margin-top: 1.5rem;		
	}
}

@media only screen and (max-width: 22.375em) {
	
	header {
		padding-top: 0;
		padding-bottom: 1rem;
	}
	
	header h1 {
		display: none;
	}

	header .searchInput {		
		height: 2.3rem;
		width: 70%;
		margin-top: 1rem;
	}

	header .searchInput input {
		height: 2.3rem;
		font-size: 1.6rem;	
		width: 60%;	
	}

	header .searchInput button {
		height: 2.3rem;
	}

	header .searchInput .delword {
		display: none;
	}
}

/* =============
	@media main
   ============= */

@media only screen and (max-width: 48.75em) {
	main .wordcontents {
		padding-top: 1rem;
		width: 100%;
	}
}

@media only screen and (max-width: 38.5em) {
	main {
		padding-top: 0;
		margin-top: 0;
	}
	main .wordcontents {
		width: 90%;
	}
	
	main .wordcontents .wordcontent .def {
		padding-top: 0;
	}
	
	main .wordcontents .wordcontent .def span {
		font-size: 1.3rem;
		line-height: 1.5rem;
	}

	main .wordcontents .wordcontent .mean {
		padding-top: 0;
	}

	main .wordcontents .wordcontent .example {
		padding-top: 0.3rem;
	}
}

@media only screen and (max-width: 22.375em) {
	main .wordcontents {
		padding: 1rem 0;
		width: 98%;
	}

	main .wordcontents h1{
		line-height: 2.3rem;
		font-size: 1.5rem;
	}
	
	main .wordcontents h1 i {
		font-size: 1.8rem;
	}
	main .wordcontents .pron {
		line-height: 1.8rem;
		font-size: 1.3rem;
	}
	main .wordcontents .pron button i {
		font-size: 1.4rem;
	}
	main .wordcontents .def {
		font-size: 1.3rem;
		line-height: 1.8rem;
	}
	main .wordcontents .def i {
		font-size: 1.4rem;
	}
	main .wordcontents .mean p {
		line-height: 1.5rem;
		font-size: 1.2rem;
	}
	main .wordcontents .mean em {
		font-size: 1.2rem;
	}
	
	main .wordcontents .example p{
		font-size: 1.2rem;
		line-height: 1.5rem;
	}

	main .wordcontents .example p:first-child{
		font-size: 1.3rem;
	}
}

/* ================
	@media history
   ================ */

@media only screen and (max-width: 48.75em) {
	.history{
		display: none;
	}
}

@media only screen and (max-width: 60em) {
	main .history {
		width: 14rem;
	}
}

/* =============
	@media hide
   ============= */

@media only screen and (max-width: 38.5em) {
	.hide {
		width: 90%;
	}
}	

@media only screen and (max-width: 22.375em) {
	.hide {
		width: 90%;
		height: 60%;
	}
	.hide-content {
		margin-top: 2rem;
		padding: 1rem 2rem;
	}
	.hide-content p:nth-child(2) {
		font-size: 1.2rem;
		line-height: 1.5rem;
	}
	.hide-content p:nth-child(3) {
		font-size: 1.2rem;
		line-height: 1.5rem;
		margin-bottom: 1rem;
	}
	.hide-content p:nth-child(4) {
		font-size: 1.2rem;
		line-height: 1.5rem;
	}
	.hide-content address {
		font-size: 1.2rem;
		line-height: 1.5rem;
	}
}

/* ================
	@media aside
   ================ */

@media only screen and (max-width: 22.375em) {
	.aside {
		right: 0.5rem;
	}

	.aside-nav li {
		height: 2rem;
		width: 2rem;
	}
	.aside-nav li i {
		margin-top: 0.4rem;
		font-size: 2rem;
	}
}
