<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/viewport.css">
  <link rel="stylesheet" href="font/font_xm8m7b0pv3elv7vi/iconfont.css">
  <title>Dictionary</title>
</head>
<body>
  <div id="particles-js"></div>
  <div class="app">
    <header>
        <h1>Dictionary</h1>
        <div class="searchInput clear-fix">
          <input type="text" 
                  class="wordInput" 
                  v-model="inputWord" @keyup.13="search"
                  :autofocus=" inputWord === '' ">  
            
          <button class="searchword default" @click=" search ">
            <i class="iconfont icon-search"></i>
          </button>
          <button class="delword default" @click=" del " 
                  v-show=" inputWord != '' ">
            <i class="iconfont icon-del"></i>
          </button>
        </div>
    </header>

    <main v-show=" contents != '' ">
      <div class="wordcontents">
        <h1 class="v-clock">
          <i class="iconfont icon-write"></i>
          <span v-show=" searchWord != '' ">{{ searchWord }}</span> 
          <!-- <i>{{ contents[0].senses[0].pos[0] }}</i> -->
        </h1>
        <div v-for="content in contents" class="wordcontent">            
          <phonetic class="pron" :prons="content.prons"></phonetic>          
          <div v-for="mean in content.senses">
            <senses class="def" :sense="mean"></senses>
            <div v-for="defs in mean.defs">
                <mean class="mean" :means="defs"></mean>
              <div v-for="example in defs.examples">
                <examples class="example" :example="example"></examples>  
              </div>
            </div>
          </div>
        </div>
      </div>   

      <div class="history">
        <h1><i class="iconfont icon-history"></i>Your History</h1>
        <div>
          <ul>
            <li v-for=" (history, index) in histories ">
              <button class="default" @click=" delHistory(index) ">
                <i class="iconfont icon-del"></i>
              </button>
              <span>{{history}}</span>
            </li>
          </ul>
        </div>
      </div>   
    </main>
  </div>

  <article class="hide">
    <section class="hide-content clear-fix">
    <button class="close default">close</button>
      <h4>Dear user</h4>
      <p>    
        First of all, I am honored for your visit. I sincerely hope that this dictionary page can help you learn English. At the same time, I hope you can use the dictionary correctly. Finally,a word to you: <em>"纸上得来终觉浅，绝知此事要躬行"</em>. In the process of using the dictionary，if you find some questions, or have any suggestions, please contact me.</p>
      <p>Learning enjoyable.</p>
      <p>from a programmer</p>
      <address>wnhoper@gmail.com</address>
    </section>
  </article> 
  
  <aside class="aside">
     <div class="aside-content">
       <ul class="aside-nav">
         <li class="sunning"><i class="iconfont icon-taiyangsun45" name="sunning"></i></li>
         <li class="night"><i class="iconfont icon-moon" name="night"></i></li>
       </ul>
     </div>
     <button class="toupper default"><i class="iconfont icon-fanhuidingbu"></i></button>
  </aside>
</body>
<script src="js/vue.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="js/event.js"></script>
<script src="js/particles.js"></script>
<script src="theme/normal.js" name="night"></script>
</html>