<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/viewport.css">
  <link rel="stylesheet" href="font/font_xm8m7b0pv3elv7vi/iconfont.css">
  <title>Dictionary</title>
</head>
<body>
  <div id="particles-js"></div>
  <div class="app">
    <!-- <header>
        <h1>Dictionary</h1>
        <div class="searchInput clear-fix">
          <input type="text" 
                  class="wordInput" 
                  v-model="inputWord" @keyup.13="search"
                  :autofocus=" inputWord === '' ">  
          <div class="btn">
            <button class="delword default" @click=" del " v-show=" inputWord != '' ">
              <i class="iconfont icon-del"></i>
            </button>
            <button class="searchword default" @click=" search ">
              <i class="iconfont icon-search"></i>
            </button>
          </div>  
        </div>
    </header> -->

    <main v-show=" contents != '' ">
      <div class="wordcontents">
        <h1>
          <i class="iconfont icon-write"></i>
          <span v-show=" false " v-html="searchWord"></span> 
        </h1>
        <div v-for="content in contents" class="wordcontent">            
          <phonetic class="pron" :prons="content.prons"></phonetic>          
          <div v-for="mean in content.senses">
            <senses class="def" :sense="mean"></senses>
            <div v-for="defs in mean.defs">
                <mean class="mean" :means="defs"></mean>
              <div v-for="example in defs.examples">
                <examples class="example" :example="example"></examples>  
              </div>
            </div>
          </div>
        </div>
      </div>   

      <div class="history">
        <h1><i class="iconfont icon-history"></i>Your History</h1>
        <div>
          <ul>
            <li v-for=" (history, index) in histories ">
              <button class="default" @click=" delHistory(index) ">
                <i class="iconfont icon-del"></i>
              </button>
              <span>{{history}}</span>
            </li>
          </ul>
        </div>
      </div>   
    </main>
  </div>

  <article class="hide">
    <section class="hide-content clear-fix">
    <button class="close default">close</button>
      <p>
        想了半天，想写一堆情话；<br>
        后来都删掉了，因为觉得太作了；<br>
        那就...... <br>
        女人，赶快好起来吧。
      </p>
      <p style="text-align: right;">来自于一位程序猿</p>
    </section>
  </article> 
  
  <aside class="aside">
     <div class="aside-content">
       <ul class="aside-nav">
         <li class="sunning"><i class="iconfont icon-taiyangsun45" name="sunning"></i></li>
         <li class="night"><i class="iconfont icon-moon" name="night"></i></li>
       </ul>
     </div>
     <button class="toupper default"><i class="iconfont icon-fanhuidingbu"></i></button>
  </aside>
</body>
<script src="js/vue.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="js/event.js"></script>
<script src="js/particles.js"></script>
<script src="theme/night.js"></script>
</html>