<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>dectionary</title>
  <link rel="stylesheet" href="css/style_1.0.css">
</head>
<body>
  <div class="app">
    <div class="left">
      <div>
        <h1>dictionary</h1>
      </div>
      <div>
        <input type="text" @keyup="search" 
          @keyup.38="up" 
          @keyup.40="down" 
          v-model="inputWord" 
          class="search">
      </div>
      <ul v-show="inputWord" class="nav-words">
        <li v-for="(word,index) in contentWords" @click="selectWord(index)">{{ word }}</li>
      </ul>  
    </div>  
    <main class="main">
      <div class="contentWords">  
        <section v-for="content in contents">
            <div>
              <h3 class="titleWord">{{ content.headword }}</h3>
               <button class="defEn">英
                <audio :src="UK"></audio>
               </button>
               <button class="defAm">美
                <audio :src="US"></audio>
              </button>
              <div class="btns">
                <button @click="addWord" class="addWord">+</button>
                <button @click="lessWord" class="lessWord">-</button>
              </div>
            </div>  
            <span v-for="ponetic in content.prons" class="pho">
              <span class="pro">{{ ponetic.region }}</span>
              <span class="phonetic">/'{{ ponetic.text }}'/&nbsp&nbsp&nbsp</span>  
            </span>

            <div v-for="type in content.senses">
              <div class="type">  
                <span class="type1">{{type.hw}}</span>
                <span class="type2">{{type.pos.toString()}}</span>
                <span v-show="type.guideword" class="near">[{{type.guideword}}]</span>
              </div>
              <div v-for="mean in type.defs"  class="examples">
                <p><span class="imp">{{mean.defInfo}}</span>
                <strong>{{mean.defEn}}</strong></p>
                <p class="Cn">{{mean.defCn}}</p>
                <div v-for="example in mean.examples" >
                  <p class="En">{{example.en}}</p>
                  <p class="Cn">{{example.cn}}</p>
                </div>
              </div>
            </div>
        </section>
      </div>    
    </main>
    <div class="new-words">
      <div>
        <h1>New Words</h1>
      </div>
        <ul>
          <li v-for="(newWord,index) in words" class="newWord">
            <button @click="wordsLess(index)" class="delete">X</button><span class="word">{{newWord}}</span>
          </li>
        </ul>
    </div>
    <div class="history">
      <div class="count-history">
        <h1>History</h1>
        <!-- <button @click="clearHistory">clear</button>   -->
      </div>
      <ul>
          <li v-for="(search,index) in history" class="historyWord">
            <button @click="historyLess(index)" class="delete">X</button>
            <span class="word">{{search}}</span>
          </li>
        </ul>
    </div>
  </div> 
</body>
<script src="js/vue.js"></script>
<script src="js/jquery.min.js"></script>
<script>
  var app = new Vue({
    el: '.app',
    data: {
      inputWord: '',
      contentWords: '',
      contents: JSON.parse(localStorage.contents || '[]'),
      history:JSON.parse(localStorage.history || '[]'),
      words:JSON.parse(localStorage.words || '[]'),
      length:1,
      US:'',
      UK:'',
    },
    watch: {
      contents: function() {
        localStorage.contents = JSON.stringify(this.contents)
      },
      words: function() {
        localStorage.words = JSON.stringify(this.words)
      },
      history: function() {
        localStorage.history = JSON.stringify(this.history)
      }
    },
    methods: {
      search(event) {
        var self = this
        if(event.keyCode !== 38 && event.keyCode !== 40) { 
          $.getJSON(`http://damiao.io:5000/autocomplete/${self.inputWord}`,(data)=>{
            var contentWords = data['results']
            self.contentWords = contentWords.map(it=>it.searchtext)
          }) 
        }
        if(event.keyCode==13) {  
          $.getJSON(`http://damiao.io:5000/word/${self.inputWord}`,(data)=> {
          self.contents = data
          self.US = data[0].prons[1].mp3 
          self.UK = data[0].prons[0].mp3
          })
          if(self.history.indexOf(self.inputWord) == -1) { 
            self.history.push(self.inputWord)
          }
          self.length = 0                 
        }
        if(event.keyCode == 8) {
          self.contentWords = []
        }
      },
      up() {
       this.inputWord = this.contentWords[this.length]
       this.length == 0 ? this.length = 0 : this.length --
      },
      down() {
        this.inputWord = this.contentWords[this.length]
        this.length == this.contentWords.length - 1 ? this.length = this.contentWords.length - 1 : this.length ++
      },
      addWord() {
         if(this.words.indexOf(this.inputWord) == -1 && this.inputWord !== '') {
          this.words.push(this.inputWord)
         }
      },
      lessWord() {
        var judg = this.words.indexOf(this.inputWord)
        this.words.splice(judg,1) 
      },
      clearHistory() {
        this.history = []
      },
      wordsLess(index) {
        this.words.splice(index,1)
      },
      historyLess(index) {
        this.history.splice(index,1)
      },
      selectWord(index) {
        this.inputWord = this.contentWords[index]
        $.getJSON(`http://damiao.io:5000/word/${this.inputWord}`,(data)=> {
          this.contents = data
          })
      }
    }
  })
    $('.defAm').click(function() {
      $('.defAm audio')[0].play()
    })

    $('.defEn').click(function() {
      $('.defEn audio')[0].play()
    })
</script>
</html>

