<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>dectionary</title>
  <link rel="stylesheet" href="css/style_1.0.css">
</head>
<body>
  <div class="app">
    <div class="left">
      <div>
        <h1>dictionary</h1>
      </div>
      <div>
        <input type="text" @keyup="search" 
          @keyup.38="up" 
          @keyup.40="down" 
          v-model="inputWord" 
          class="search">
      </div>
      <ul v-show="inputWord" class="nav-words">
        <li v-for="(word,index) in contentWords" @click="selectWord(index)">{{ word }}</li>
      </ul>  
    </div>  
    <main class="main">
      <div class="contentWords">  
        <section v-for="content in contents">
            <div>
              <h3 class="titleWord">{{ content.headword }}</h3>
               <button class="defEn">英
                <audio :src="UK"></audio>
               </button>
               <button class="defAm">美
                <audio :src="US"></audio>
              </button>
              <div class="btns">
                <button @click="addWord" class="addWord">+</button>
                <button @click="lessWord" class="lessWord">-</button>
              </div>
            </div>  
            <span v-for="ponetic in content.prons" class="pho">
              <span class="pro">{{ ponetic.region }}</span>
              <span class="phonetic">/'{{ ponetic.text }}'/&nbsp&nbsp&nbsp</span>  
            </span>

            <div v-for="type in content.senses">
              <div class="type">  
                <span class="type1">{{type.hw}}</span>
                <span class="type2">{{type.pos.toString()}}</span>
                <span v-show="type.guideword" class="near">[{{type.guideword}}]</span>
              </div>
              <div v-for="mean in type.defs"  class="examples">
                <p><span class="imp">{{mean.defInfo}}</span>
                <strong>{{mean.defEn}}</strong></p>
                <p class="Cn">{{mean.defCn}}</p>
                <div v-for="example in mean.examples" >
                  <p class="En">{{example.en}}</p>
                  <p class="Cn">{{example.cn}}</p>
                </div>
              </div>
            </div>
        </section>
      </div>    
    </main>
    <div class="new-words">
      <div>
        <h1>New Words</h1>
      </div>
        <ul>
          <li v-for="(newWord,index) in words" class="newWord">
            <button @click="wordsLess(index)" class="delete">X</button><span class="word">{{newWord}}</span>
          </li>
        </ul>
    </div>
    <div class="history">
      <div class="count-history">
        <h1>History</h1>
        <!-- <button @click="clearHistory">clear</button>   -->
      </div>
      <ul>
          <li v-for="(search,index) in history" class="historyWord">
            <button @click="historyLess(index)" class="delete">X</button>
            <span class="word">{{search}}</span>
          </li>
        </ul>
    </div>
  </div> 
</body>
<script src="js/vue.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/main_1.0.js"></script>
</html>

